<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592466397359-8sff8l55i0cuvv9e3kohve5353ppgpga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592466397359-8sff8l55i0cuvv9e3kohve5353ppgpga</string>
	<key>API_KEY</key>
	<string>AIzaSyArzzZJqj3lQAnrKPKTb-zjt4yTAKB_nFk</string>
	<key>GCM_SENDER_ID</key>
	<string>592466397359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cs.UTA-TBIcare</string>
	<key>PROJECT_ID</key>
	<string>uta-tbicare</string>
	<key>STORAGE_BUCKET</key>
	<string>uta-tbicare.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:592466397359:ios:b5d2e07974c5c6682bac5a</string>
	<key>DATABASE_URL</key>
	<string>https://uta-tbicare.firebaseio.com</string>
</dict>
</plist>
